{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {% comment %} <link href="{% static 'login/login.css' %}" rel="stylesheet" /> {% endcomment %}
        <title>Mesada Manager - Kids</title>
    </head>
    <h1>Bem vindo {{user}}</h1>
    {% if mesadas_do_mes %}
    <h2>Mesadas do mês de {{mes_atual}}</h2>
    <h3>Valor da mesada fixa: €{{mesada_valor}}</h3>
    <h3>Total do Mês a receber: €{{ mesada_total }}<h3/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Motivo</th>
                    <th>Acréscimos</th>
                    <th>Descontos</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for mesada in mesadas_do_mes %}
                    <tr>
                        <td>{{ mesada.nome }}</td>
                        
                        {% if mesada.acrescimos != 0 %}
                            <td class = 'success'>
                                {{ mesada.acrescimos }}
                            {% else %}
                                <td>
                            {% endif %}
                        </td>
                        
                        {% if mesada.descontos != 0 %}
                            <td class= 'danger'>
                                {{ mesada.descontos }}
                        {% else %}
                                <td>
                            {% endif %}
                        </td>
                        
                        <td>{{ mesada.data_pagamento }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Nenhuma mesada registrada este mês.</p>
{% endif %}



</html>